body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #808080, #404040);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
}

.grid-item {
    border-radius: 15px;
    margin: 5px;
    background-image: url('letöltés.jpg'); 
    background-size: cover;
    background-position: center;
    transition: transform 0.6s, background-image 0.6s; 
    cursor: pointer;
}

.grid-item.flipped {
    transform: rotateY(180deg); 
}